<footer>

    <div class="contents">

        <ul class="inline-list right">
            <li><a href="http://letstalkbitcoin.com/"> Let's Talk Bitcoin!</a></li>
            <li><a href="http://ltbcoin.com/"> LTBcoin</a></li>
        </ul>


        <ul class="inline-list">
            <li><a href="{{url('home')}}">Home</a></li>
            <li><a href="{{url('create-auction')}}">Create an Auction</a></li>
            <li><a href="{{url('faq')}}">FAQ</a></li>
            <li><a href="{{url('about')}}">About this Site</a></li>
            <li><a href="http://letstalkbitcoin.com/forum/post/auction-vending-machines-are-now-operational">LTB forum thread</a></li>
        </ul>

    </div>

</footer>