<footer>
    <div class="contents">

        <ul class="inline-list">
            <li>Thanks for visiting this site</li>
            <li><a href="http://letstalkbitcoin.com/"> Let's Talk Bitcoin!</a></li>
        </ul>

    </div>
</footer>