{% extends "base/section.twig" %}

{% block app_css %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block sectionBody %}

<div class="row">
    <div class="medium-centered medium-12 large-10 columns">

        <div class="header">
            <h2>FAQ</h2>
        </div>

        <div class="spacer1"></div>

        <div class="questions">
            <div class="question-group">
                <div class="question">
                    I have my Armory/Mycelium/Core all set up, what do I do?
                </div>
                <div class="answer">
                    Visit <a href="http://counterwallet.co">http://counterwallet.co</a>, create a wallet and use it instead of your normal wallet. Your wallet cannot see sponsor tokens or any Counterparty assets, so for now Counterwallet is the best tool.
                </div>
            </div>

            <div class="question-group">
                <div class="question">
                    Q: I've been outbid - What happens now?
                </div>
                <div class="answer">
                    A: Either send more tokens <strong>from the same address</strong> to increase your bid or wait until the auction expires and your non-winning bid will be refunded.
                </div>
            </div>

            <div class="question-group">
                <div class="question">
                    Q: I sent in a bid at the last minute and I should have won, but I didn't - Why?
                </div>
                <div class="answer">
                    A: It can take up to an hour for your bid to be included in a Bitcoin Block, at which point it becomes confirmed. Bids are only accepted after they are confirmed, please make sure to bid early and leave plenty of time before the end of the auction to account for this unpredictability.
                </div>
            </div>

            <div class="question-group">
                <div class="question">
                    Q: I won a token that I don't want! What do I do with it?
                </div>
                <div class="answer">
                    A: You can try trading it for LTBc, Bitcoin or something else on the <a href="http://counterwallet.co">http://counterwallet.co</a> distributed exchange, or try to find someone interested on the forums.
                </div>
            </div>
        </div>


    </div>
</div>




{% endblock %}


{% block app_js %}
{{ parent() }}
<script src="/public/js/select-click.js"></script>
{% endblock %}
