header {
    height: 86px;
    background: #0A323F url(/public/img/AuctioneerLogo.png) no-repeat 14px 6px;

    h1 {
        padding: 28px 24px;
        margin: 0;
        font-size: 3rem;
        font-weight: 300;
        color: white;

        a, a:hover {
            color: white;
            opacity: 0;
        }
    }

    margin-bottom: 24px;
}

@media (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    header {
        background-image: url(/public/img/AuctioneerLogo2x.png);
        background-size: 325px 76px;
    }
}



footer {
    background-color: #51717C;
    height: 48px;
 
    // bottom: 0px;
    // position: relative;
    // width: 100%;

    div.contents {
        margin: 0;
        font-weight: 300;
        font-size: 0.8rem;
        color: fade(#fff, 80%);

        a {
            color: white;
            text-decoration: underline;
        }

        ul {
            margin: 0;
            padding: 12px 24px;
            font-size: 0.8rem;
        }
    }

}