{% extends "base/section.twig" %}

{% block app_css %}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}


{% block sectionBody %}

<div class="row">
    <div class="medium-centered medium-12 large-10 columns">


        <div class="spacer2"></div>

        <p>
            Welcome to the LTB auction machine.  If you are new here, check out <a href="http://auction.letstalkbitcoin.com/faq">the FAQ</a> for a little more information.  Please visit this <a href="http://letstalkbitcoin.com/forum/post/auction-vending-machines-are-now-operational">forum thread</a> for more discussion.
        </p>

        <div class="spacer3"></div>

        <h3>Current Auctions</h3>

        <div class="auctions-list">
            {% set anyAuctionsFound = false %}
            {% for auction in auctions %}
            {% set state = auction.state %}
            {% if state.active and state.timePhase != 'ended' %}
            {% set anyAuctionsFound = true %}

            {% include 'includes/auction/auction-list-entry.twig' with {auction: auction} %}

            {% endif %}
            {% endfor %}
        </div>

        {% if not anyAuctionsFound %}
        <div>Sorry, no auctions are active right now.</div>
        {% endif %}

        <div class="spacer3"></div>

        <h3>Recently Ended Auctions</h3>

        <div class="auctions-list">
            {% set anyAuctionsFound = false %}
            {% for auction in recentAuctions %}
            {% set state = auction.state %}
            {% if state.timePhase == 'ended' %}
            {% set anyAuctionsFound = true %}

            {% include 'includes/auction/auction-list-entry.twig' with {auction: auction} %}

            {% endif %}
            {% endfor %}
        </div>

        {% if not anyAuctionsFound %}
        <div>No recently ended auctions are active right now.</div>
        {% endif %}


        

        <div class="spacer5"></div>

        <a href="{{url('create-auction')}}" class="button">Create a New Auction</a>

    </div>

</div>




{% endblock %}


{% block app_js %}
{{ parent() }}
<script src="/public/vendor/momentjs/moment.js"></script>
<script src="/public/js/timezone.js"></script>
<script src="/public/js/select-click.js"></script>
{% endblock %}
